/target
/packaging/src
/packaging/pkg
/packaging/*.pkg.tar.*
/packaging/*.log
/packaging/release/src
/packaging/release/pkg
/packaging/release/*.pkg.tar.*
/packaging/release/*.tar.gz
/packaging/release/*.log
/packaging/linux/dist
